.movieform_title_color {
  background-color: rgb(30, 33, 57);
}

.serialform_title_color {
  background-color: rgb(30, 33, 57);
}

.formCenter {
  text-align: center;
}

.genreupdate {
  width: 450px;
  margin-left: 20px;
  margin-right: 20px;
}
.CreateCardForm-btn {
  padding: 0.75rem;
  background-color: #08a334;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.CreateCardForm-btn:hover {
  background-color: #10c322;
}
.CreateCard-btn {
  padding: 0.75rem;
  background-color: #ff6b6b;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.CreateCard-btn:hover {
  background-color: #e05252;
}

.textStyle3{
  background-color:#383849;
  color: white;
  border-color:#e05252 ;
  border-radius: 0;
}

.alertStyle1{
  /* width: 100%; */
  padding: 10px;
  background-color: #4d9a4d;
  color:white;
}
.alertStyle2{
  /* width: 100%; */
  padding: 10px;
  background-color: #ff6b6b;
  color:white;
}