
.header-container {
  background-color: #1e2139;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
}
.header-btn {
  width: 100px;
  padding: 0.52rem;
  background-color: #ff6b6b;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.header-btn:hover {
  background-color: #e05252;
}
.profile-icon {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  color: black;
  font-size: 14px;
}

.profile-icon i {
  font-size: 20px; 
  margin-right: 5px; 
}
/* Pritaikymas mažiems ekranams */
@media (max-width: 768px) {
  .header-container .nav-link {
    text-align: center;
    padding: 10px 0;
  }

  .header-container .btn {
    width: 100%; /* Mygtukai užima visą plotį */
    margin-bottom: 10px;
  }
}

/* Pritaikymas vidutinio dydžio ekranams */
@media (max-width: 992px) {
  .header-container {
    padding: 10px 20px;
  }

  .header-container .nav-link {
    font-size: 14px;
  }
}