.MovieDataList-container{
  margin-top: 10px;
  background-color: #141625;
  border-radius: 8px;
  margin-top: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.MovieDataList-container:hover {

  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.MovieDataList-container img {
  width: 100%;
  object-fit: cover;
}
.MovieDataList-card{
  background-color: #1e2139;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
}
.MovieDataList-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.MovieDataList-btn {
    width: 100px;
    padding: 0.52rem;
    background-color: #ff6b6b;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .MovieDataList-btn:hover{
    background-color: #e05252;
  }