.update-container { 
    margin-top: 20px;
    margin-bottom: 20px;   
    color: #fff;
  }
  .update-form {
    background-color: rgb(30, 33, 57);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 550px;
  }
  .update-group {
    margin-bottom: 1rem;
  }
  .update-group input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #444;
    background: transparent;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
  }
  .update-btn {
    padding: 0.75rem;
    background-color: #ff6b6b;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .update-btn:hover {
    background-color: #e05252;
  }
  .update-link {
    text-align: center;
    margin-top: 1rem;
  }
  .update-link a {
    color: #ff6b6b;
    text-decoration: none;
  }
  .update-link a:hover {
    text-decoration: underline;
  }
  .update-select {
    background-color: rgb(30, 33, 57);
    color: rgb(255, 255, 255);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
    font-size: 15px;
    width: 500px;
  }

  .textStyle {
    background-color: #383849;
    color: #fff;
    border:none;
    padding-left: 1rem;
    padding-bottom: 1rem;
   font-size: 1.2rem;
  }
  
  .textStyle1 {
    background-color: #383849;
    color: #fff;
    border:none;
    padding-left: 1rem;
   font-size: 1.2rem;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
  }
  .textStyle2 {
    background-color: #383849;
    color: #fff;
    border:none;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
   font-size: 1.2rem;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
  }
  