
.GenreTable-container { 
    width: 100%;
    padding: 2rem;
    background-color: #1e2139;
    
}
.table-tr{
  border: 1px, solid;
  border-color: #ff6b6b;
}

 .tableform5 {
  width: 100%;
  border: 1px, solid;
  border-color: #ff6b6b;
  margin-top: 2rem;
  background-color:#1e2139;
} 

 .tableform1 {
  width: 20%;
  text-align: center;
}

.tableform2 {
  width: 40%;
  border: 1px, solid;
  border-color: #ff6b6b;
  text-align: center;
  /* background-color: rgb(30, 33, 57); */
}

.tableform3 {
  width: 40%;
  border: 1px, solid;
  border-color:#ff6b6b;
  text-align: center;
  /* background-color: rgb(30, 33, 57); */
}



