.profileCard-form {
    background-color: rgb(30, 33, 57);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  .profileCard-group {
    margin-bottom: 1rem;
  }
  .profileCard-group input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #444;
    background: transparent;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
  }
.profileCard:hover {
    opacity: 0.5;
}
