.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 125vh; */
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(20, 22, 37);
  color: #fff;
}
.registration-form {
  background-color: rgb(30, 33, 57);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 550px;
}
.registration-group {
  margin-bottom: 1rem;
}
.registration-group input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #444;
  background: transparent;
  color: #fff;
  outline: none;
  transition: border-color 0.3s ease;
}
.registration-btn {
  padding: 0.75rem;
  background-color: #ff6b6b;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.registration-btn:hover {
  background-color: #e05252;
}
.registration-link {
  text-align: center;
  margin-top: 1rem;
}
.registration-link a {
  color: #ff6b6b;
  text-decoration: none;
}
.registration-link a:hover {
  text-decoration: underline;
}
